:root {
  --font-family-headings: 'Josefin Sans', sans-serif;
  --font-family-content: 'Alata', sans-serif;

  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 0%);
}
